body {
  margin: 0;
  background: linear-gradient(135deg, #0f0f0f, #1a1a2e);
  color: white;
  font-family: Arial;
  text-align: center;
}

.title {
  margin-top: 20px;
}

.movies {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 200px;
  border-radius: 10px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #00ffcc;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.screen {
  width: 300px;
  height: 100px;
  background: white;
  margin: 20px auto;
  border-radius: 10px;
}

.seats {
  display: grid;
  grid-template-columns: repeat(8, 30px);
  gap: 10px;
  justify-content: center;
}

.seat {
  width: 30px;
  height: 30px;
  background: #444;
  border-radius: 5px;
  cursor: pointer;
}

.seat.selected {
  background: #00ffcc;
}

.seat.occupied {
  background: red;
  cursor: not-allowed;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00ffcc;
  border: none;
  border-radius: 5px;
}
